.homeSplash {
     background: url(../images/waveney.jpg) no-repeat center center fixed; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;

}
.nameInfo {
     position: absolute;
     bottom: 50px;
     left: 150px;
}